<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>DateRegistration</title>
</head>

<body>
<form action="#", th:action="@{/registration}" th:object="${patient}" method="post">
    <p> Proszę wybrać dzień wizyty: <input type="date" th:field="*{dateOfVisit}"></p>
    <p> Proszę wybrać lekarza: <select th:field="*{doctor}">
        <option th:value="''" selected="true" disabled="disabled">----Wybierz lekarza----</option>
        <option th:value="'dr. Pan X'">dr. Pan X</option>
        <option th:value="'dr. Pani Y'" selected>dr. Pani Y</option>
    </select></p>
    <input type="submit" value="Sprawdź terminy">
</form>
</body>
</html>

<!----w JS dodac mozliwosc wyboru daty max na 3 miesiace do przodu--->

