<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>ORTOMED | SUKCES</title>
    <link rel="stylesheet" href="../static/css/mainStyle.css" th:href="@{/css/mainStyle.css}" >
     <link rel="stylesheet" href="../static/css/contactStatus.css" th:href="@{/css/contactStatus.css}" >
     <link rel="stylesheet" href="../static/css/successTable.css" th:href="@{/css/successTable.css}" >
    <script src="../static/js/jquery.js" th:src="@{/js/jquery.js}"></script>
    <script src="../static/js/visitNewPage.js" th:src="@{/js/visitNewPage.js}"></script>
<script>
    window.onload = function() {
        window.onbeforeunload = function () {
            window.location.assign("/index.html")
        }
    }
</script>
</head>

<body>
    <div class="container">
    
<header>    
    <div id="lang"><a href="/"><img src="../static/img/pol.png" th:src="@{/img/pol.png}"></a><a href="/en"><img src="../static/img/eng.png" th:src="@{/img/eng.png}"></a></div>
     <a id="logo" href="/"><img src="../static/img/logo.png" th:src="@{/img/logo.png}"></a>
    <nav>
        <ul>
       <li> <a href="/registration" title="Zarejestruj się">REJESTRACJA</a></li>
        <li><a href="/visit" id="visit" title="Sprawdź wizytę">WIZYTA</a></li>
       <li> <a href="/about" title="Przeczytaj o nas">O NAS</a></li>
        <li><a href="/contact" title="Skontaktuj się z nami">KONTAKT</a></li>
            </ul>
    </nav>
         </header>
        <div class="slideshow"><img src="../static/img/contact.jpg" th:src="@{/img/contact.jpg}"></div>
        <div class="content">
            <h3>Gratulacje! Zarejestrowaliśmy Twoją wizytę!</h3>
            <p>
            Na podany adres e-mail została wysłana wiadomość z potwierdzeniem wizyty. Otrzymasz także wiadomość
            z hasłem umożliwiającym sprawdzenie terminu wizyty na naszej stronie.</p>
            <p>Twoja rejestracja:</p>
            <table id="table">
                <tr><th>Data konsultacji</th><th>Godzina</th><th>Lekarz</th></tr>
                <tr><td th:text="${patient.dateOfVisit}"></td><td th:text="${patient.timeOfVisit}"></td><td th:text="${patient.doctor}"></td></tr>
            </table>
        </div>
        <footer>
        <div class="partners"><p>Nasi Partnerzy</p><img  id="baltyk"src="../static/img/baltyk.png" th:src="@{/img/baltyk.png}"> 
            <img id="lechia" src="../static/img/lechia.png" th:src="@{/img/lechia.png}">
            <img src="../static/img/lech.png" th:src="@{/img/lech.png}"> <img src="../static/img/kif.png" th:src="@{/img/kif.png}"></div>
        
        
        <div id="contact"><p> Kontakt:<br>ul. Bydgoska 5a, 81-305 Gdynia<br>
Budynek Tower, 1 piętro<br> tel. +48 791 50 53 22</p><img src="../static/img/logo.png" th:src="@{/img/logo.png}"></div>
        
        
        <div id="rights"><p>©2021 Orto-MED</p><p>Design: Mikołaj Kalata</p></div>
    </footer>
    </div>

</body>
</html>