<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet" href="../static/css/visit.css" th:href="@{/css/visit.css}">
    <script src="../static/js/jquery.js" th:src="@{/js/jquery.js}"></script>
    <script src="../static/js/visitPage.js" th:src="@{/js/visitPage.js}"></script>
    <meta charset="UTF-8">
    <title>ORTOMED</title>
</head>
<body>
    
    <img id="back"src="../static/img/padlock.jpg" th:src="@{/img/padlock.jpg}">

    <p>Prosimy o podanie poniższych danych , aby móc sprawdzić termin Twojej wizyty.</p>

<form>
    <p>Adres e-mail: <input type="text" name="email" id="email" value="mikolaj_miki05@o2.pl"></p>
    <p>Hasło: <input type="password" name="pass" id="pass" value="1"> <img id="eye" src="../static/img/preview.jpg" th:src="@{/img/preview.jpg}"></p>
    <input type="button" onclick="showVisit()" id="submit" value="Wyszukaj">
</form>

<div id="tableplace" style="display: none">
<table id="table" width="100%" style="background-color: deepskyblue; border: solid">
    <tr>
<th style>Imię</th><th>Nazwisko</th><th>Data</th><th>Godzina</th><th>Lekarz</th>
    </tr>
    <tr style="text-align: center">
        <td id="fname"></td><td id="lname"></td><td id="date"></td><td id="hour"></td><td id="doc"></td><td><a href="#" onclick="changeVisit()" id="change" style="text-align: center; color: bisque">Zmień</a></td><td><a href="#" id="delete" style="text-align: center; color: bisque">Anuluj</a></td>
    </tr>
</table>
    
</div>
    
    
<div id="loading"><p>LOADING</p></div>
</body>
</html>