<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>ORTOMED | REGISTRATION</title>
    <link rel="stylesheet" href="../static/css/mainStyle.css" th:href="@{/css/mainStyle.css}" >
    <link rel="stylesheet" href="../static/css/forms.css" th:href="@{/css/forms.css}" >
    <script src="../static/js/jquery.js" th:src="@{/js/jquery.js}"></script>
    <script src="../static/js/allWithouttIndex.js" th:src="@{/js/allWithouttIndex.js}"></script>
    <script src="../static/js/dateRegisterPage.js" th:src="@{/js/dateRegisterPage.js}"></script>
    <script src="../static/js/visitNewPage.js" th:src="@{/js/visitNewPage.js}"></script>
    </head>
    
<body>
    <div class="container">
<header>    
    <div id="lang"><a href="/"><img src="../static/img/pol.png" th:src="@{/img/pol.png}"></a><a href="/en"><img src="../static/img/eng.png" th:src="@{/img/eng.png}"></a></div>
     <a id="logo" href="/"><img src="../static/img/logo.png" th:src="@{/img/logo.png}"></a>
    <nav>
        <div class="hamburger">
  <div class="top"></div>
  <div class="middle"></div>
  <div class="bottom"></div>
</div>
        <ul>
            <li> <a href="/registration" title="Zarejestruj się">REJESTRACJA</a></li>
            <li><a href="/visit" id="visit" title="Sprawdź wizytę">WIZYTA</a></li>
            <li> <a href="/about" title="Przeczytaj o nas">O NAS</a></li>
            <li><a href="/contact" title="Skontaktuj się z nami">KONTAKT</a></li>
            </ul>
    </nav>
         </header>
        <div class="slideshow"><img src="../static/img/registration1.jpg" th:src="@{/img/registration1.jpg}"><p>Rejestracja telefoniczna czynna w godzinach 7:00 - 20:00,<br>od poniedziałku do piątku.<br>Tel. do rejestracji: +48 791 50 53 22</p></div>
        
        <div class="form">
        <p id="update">Dostępna jest także rejestracja online. Najszybciej można się zarejestrować na następny dzień roboczy.</p>
<form action="#" id="form" th:action="@{/registration/step2}" th:object="${patient}" method="post">
    
    <label for="date">Wybierz dzień wizyty </label>
    <input type="date" th:field="*{dateOfVisit}" id="date" max="2021-11-11">
 
    <label>Wybierz lekarza </label>
    <select th:field="*{doctor}">
        <option th:value="''" selected="true" disabled="disabled">----Wybierz lekarza----</option>
        <option th:value="'dr. Gargula'">dr. Gargula</option>
        <option th:value="'dr. Tarman'">dr. Tarman</option>
    </select>
    
    <input type="submit" id="submit" value="Sprawdź terminy" disabled="disabled">

    <!--Patient wanted to change the visit-->
    <div class="update" style="display: none">
    <input type="text" id="id" th:value="${patient.id}" th:field="*{id}">
    <input type="text" th:value="${patient.firstName}" th:field="*{firstName}">
    <input type="text" th:value="${patient.lastName}" th:field="*{lastName}">
    <input type="text"  th:value="${patient.pesel}" th:field="*{pesel}">
    <input type="text" th:value="${patient.phoneNumber}" th:field="*{phoneNumber}">
    <input type="text" th:value="${patient.email}" th:field="*{email}">
    </div>
    <!-------------------------------------->

</form>
        </div>
        <footer>
        <div class="partners"><p>Nasi Partnerzy</p><img  id="baltyk"src="../static/img/baltyk.png" th:src="@{/img/baltyk.png}"> 
            <img id="lechia" src="../static/img/lechia.png" th:src="@{/img/lechia.png}">
            <img src="../static/img/lech.png" th:src="@{/img/lech.png}"> <img src="../static/img/kif.png" th:src="@{/img/kif.png}"></div>
        
        
        <div id="contact"><p> Kontakt:<br>ul. Bydgoska 5a, 81-305 Gdynia<br>
Budynek Tower, 1 piętro<br> tel. +48 791 50 53 22</p><img src="../static/img/logo.png" th:src="@{/img/logo.png}"></div>
        
        
        <div id="rights"><p>©2021 Orto-MED</p><p>Design: Mikołaj Kalata</p></div>
    </footer>
    </div>
</body>
</html>
