<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet" href="../static/css/successTable.css" th:href="@{/css/successTable.css}" >
    <link rel="stylesheet" href="../static/css/visit.css" th:href="@{/css/visit.css}">
    <script src="../static/js/jquery.js" th:src="@{/js/jquery.js}"></script>
    <script src="../../static/js/en/visitPageEN.js" th:src="@{/js/en/visitPageEN.js}"></script>
    <meta charset="UTF-8">
    <title>ORTOMED</title>
</head>
<body>
    
    <img id="back" src="../static/img/padlock.jpg" th:src="@{/img/padlock.jpg}">

    <p> Please provide the following details to be able to check the date of your visit. </p>

<form>
    <p>E-mail Address: <input type="text" name="email" id="email"></p>
    <p>Password: <input type="password" name="pass" id="pass"> <img id="eye" src="../static/img/preview.jpg" th:src="@{/img/preview.jpg}"></p>
    <input type="button" id="submit" value="Find">
</form>

<div id="tableplace">
<table id="table">
    <tr>
<th style> First name </th> <th> Last name </th> <th> Date </th> <th> Time </th> <th> Doctor </th>
    </tr>
    <tr style="text-align: center">
        <td id="fname"></td><td id="lname"></td><td id="date"></td><td id="hour"></td><td id="doc"></td><td><a href="#" id="change" style="text-align: center; color: bisque">Change</a></td><td><a href="#" id="delete" style="text-align: center; color: bisque">Cancel</a></td>
    </tr>
</table>
    
</div>
    
    
<div id="loading"><p>LOADING</p></div>
</body>
</html>