.container {
    border: solid 2px;
    margin-right: 50px;
    margin-left: 50px;
    margin-bottom: auto;
    margin-top: auto;
    box-shadow: 10px 10px grey;
}

p{
    font-size: 16px;
}

#lang{
    text-align: right;
}

#lang img{
    width: 40px;
    height: auto;
    cursor: pointer;
}


#logo img{
    width: 300px;
    margin-left: 30px;
}


nav{
    width: 100%;
    background-color: lightskyblue;
    display: inline-block;
}

ul{
    list-style: none;
    display: flex;
    justify-content: space-around;
}

li a{
    background-color: powderblue;
    height: 30px;
    text-align:center;
    display: block;
    width: 200px;
    text-decoration: none;
    color: black;
    font-size: 25px;
    transition: transform 1s cubic-bezier(0.2,0.8,0.2,0.8);
}


li a:hover{
    background-color: lightseagreen;
    transform: scale(1.5);
}

li a.zoom{
    background-color: powderblue;
    color: yellow;
}


.slideshow img{
    width: 100%;
    height: 500px;
}

.about img{
    width: 100%;
}


h1{
    text-align: center;
    font-size: 40px;
}

#about{
    margin-right: 100px;
    margin-left: 100px;
}

#about p{
    border-top: solid 10px lightskyblue;
    border-bottom: solid 10px lightskyblue;
}

#about div{
    float: right;
    margin-right: 100px;
    background-color: powderblue;
       
}

#about div a{
    display: block;
    font-size: 27px;
    text-decoration: none;
    font-weight: 600;
    border: 5px solid lightseagreen;
    transition: transform 2s ease;
}

#about div a:hover{
    background-color: lightseagreen;
    color: yellow;
    transform: rotateY(360deg);
}


.reason{
    background-color: lightskyblue;
    
}

#reason{
    display: flex;
    justify-content: center;
}


h2{
    text-align: center;
    font-size: 40px;
}

h5{
    margin-left: 100px;
    font-size: 35px;
}

#reason p{

    border-top: dashed 1px;
    border-bottom: dashed 1px;
    margin-right: 100px;
    margin-left: 100px;
}


.wheretofindus{
    position: relative;
    display: flex;
    justify-content: space-between;
}

h3{
    text-align: right;
    margin-right: 300px;
    font-size: 40px;
}

.wheretofindus p{
    margin-right: 300px;
    text-align: right;
}

   
#map{
    margin-top: 40px;
    margin-left: 10px;
    width: 1%;
    height: 350px;
    border: 10px solid lightseagreen; 
    border-radius: 10px;
    transition: width 2s ease;
}

#map.slide{
    width: 55%;
}


.needhelp{
    background-color: lightskyblue;
    text-align: center;
}

.needhelp p{
    font-size: 40px;
    font-weight: 600;
}

.needhelp div{
    
    background-color: powderblue;
    margin-left: 290px;
    width: 50%;
}

.needhelp div a{
    border: solid 5px lightseagreen;
    display: block;
    color: black;
    text-decoration: none;
    font-size: 30px;
     font-weight: 600;
}

.needhelp div a.blink{
    background-color: lightseagreen;
    color: yellow;
}

.needhelp div a:hover{
    background-color: lightseagreen;
    color: yellow;
}

footer{
    padding-top: 1px;
    background-color: lightblue;
}

footer img{
    
    width: 200px;
    margin-left: 40px;
    
}

.partners p{
    font-weight: 700;
}


#baltyk{
    width: 120px;
}

#lechia{
    width: 100px;
}

#contact{
    
    background-color: white;
    display: flex;
    justify-content: space-around;
}

#contact p{
    font-size: 15px;
}


#rights p{
    font-size: 11px;
    margin: 0;
    padding: 0;
}


@media only screen and (max-width: 1225px){
    li a:hover{
        transform: scale(1.1);
    }
}
@media only screen and (max-width: 1080px){

    
    .about img{
        width: 50%;
    }
    .needhelp div{
    margin-left: 200px;
}
    ul li a{
        display: block;
    }
    li a:hover{
        transform: scale(1);
    }
}

@media only screen and (max-width: 987px){

    .about{
        display: none;
    }
        #reason p{
            display: none;}
    
        .partners img{
            display: none;
    }
    
    #map{
        width: 55%;
    }

    .hamburger{
        display: inline-block;
        cursor: pointer;
    }
    
    .top, .middle, .bottom {
  width: 40px;
  height: 7px;
  background-color: red;
  margin: 6px 0;
  transition: 0.4s;
}
    
    .change .top {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}

    .change .middle {opacity: 0;}

    .change .bottom {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
    }
    
    ul{
        display: none;
        padding: 0;
    }
    li{
        background-color: powderblue;
        width: 100%;
        text-align: center;
    }
    ul li a{
        display: block;
        text-decoration: underline;
        width: 100%;
    }
    .slideshow img{
        display: none;
    }
}
@media only screen and (max-width: 780px){
    .about{
        display: inline;
        column-count: 1;
    }
    .about img{
        display: none;
    }
    
    #reason h5{
        display: none;
    }
        
    #map{
        display: none;
    }
    
        .needhelp div{
    margin-left: 100px;
            margin-right: 100px;
    }
    .needhelp div a{
            font-size: 125%;
    }
}
@media only screen and (max-width: 780px){
    #reason div:nth-child(2){
        display: none;
    }
    .wheretofindus{
            padding: 10px;
            margin: 10px;
    }
}
@media only screen and (max-width: 650px){
    #logo img{
        width: 70%;
    }
    
    #about h1{
       font-size: 30px;
    }
    #about{
        display: block;
        width: 50%;
    }
    #about div{
        text-align: center;
        margin: 0;

    }
    
    #contact img{
        display: none;
    }
    
    .reason h2{
        font-size: 30px;
    }
    
    .wheretofindus {
        text-align: center;
    }
    
    .wheretofindus h3{
        font-size: 30px;
        text-align: center;
    }
    
    .needhelp p{
        font-size: 30px;
    }
}
    @media only screen and (max-width: 540px){
        .needhelp div {
            margin-left: 0;
    }
        .needhelp div a{
            font-size: 80%;
    }
        #baltyk{
             width: 40%;
        }
        
        #lechia{
             width: 40%;
        }
        .partners img{
            width: 50%;
        }
}
