body{
    position: relative;
}

p{
    font-weight: 600;
}

input[type=button]{

    background-color: lightseagreen;
    color: yellow;
    cursor: pointer;
}

input[type=button]:hover{
    opacity: 0.7;
    font-weight: 600;
}

#eye{
    cursor: pointer;
    width: 20px;
}

#back {
 opacity: 0.5;
  top: 0;
  left: 0;
  position: absolute;
    z-index: -1;

}

#loading{
    background-color: black;
    display: none;
    color: white;
}

#loading p{
    color: white;
}

#tableplace {
    width: 100%;
    margin-top: 10px;
    position: absolute;
    display: none;
}