<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>ORTOMED | KONTAKT</title>
    <link rel="stylesheet" href="../../static/css/mainStyle.css" th:href="@{/css/mainStyle.css}" >
     <link rel="stylesheet" href="../../static/css/contactStatus.css" th:href="@{/css/contactStatus.css}" >
    <script src="../../static/js/jquery.js" th:src="@{/js/jquery.js}"></script>
    <script src="../../static/js/visitNewPageEN.js" th:src="@{/js/visitNewPageEN.js}"></script>
    <script src="../../static/js/closeOpenEN.js" th:src="@{/js/closeOpenEN.js}"></script>
        </head>
    
<body>
    <div class="container">
    
<header>
    
    <div id="lang"><a href="/"><img src="../../static/img/pol.png" th:src="@{/img/pol.png}"></a><a href="/en"><img src="../../static/img/eng.png" th:src="@{/img/eng.png}"></a></div>
     <a id="logo" href="/en"><img src="../../static/img/logo.png" th:src="@{/img/logo.png}"></a>
         
       
        <nav>
                <ul>
            <li> <a href="/en/registration" title="Register">REGISTRATION</a></li>
            <li><a href="/en/visit" id="visit" title="Check visit">VISIT</a></li>
            <li> <a href="/en/about" title="Read about us">ABOUT US</a></li>
            <li><a href="/en/contact" title="Contact us">CONTACT</a></li>
            </ul>
    </nav>
    </header>
        <div class="slideshow"><img src="../../static/img/contact.jpg" th:src="@{/img/contact.jpg}"></div>
        <div class="content">
            <h2>Our doctors see patients on working days within hours 8:00 - 19:30.</h2>
            <div class="wheretofindus"> <iframe id="map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2316.4184332472014!2d18.529530051274907!3d54.50848159463133!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46fda723d00fbc6d%3A0x57e2ac6cad6d39d0!2sBydgoska%205a%2C%2081-305%20Gdynia!5e0!3m2!1spl!2spl!4v1609591863205!5m2!1spl!2spl" ></iframe><div id="h3"><h3>Registration working hours</h3><div id="status" title="status zakładu"></div>
                <p>Registration is open from 7:00 a.m. to 8:00 p.m., Monday to Friday.<br>
                +48 791 50 53 22
           
                <p><img id="contactPhoto"src="../../static/img/contactPhoto.jpg" th:src="@{/img/contactPhoto.jpg}">Address:<br>Bydgoska 5a St., 81-305 Gdynia<br>Tower's building, 1 floor</p></div>
             </div>
        </div>
        
<footer>
        <div class="partners"><p>Our Partners</p><img  id="baltyk"src="../../static/img/baltyk.png" th:src="@{/img/baltyk.png}"> 
            <img id="lechia" src="../../static/img/lechia.png" th:src="@{/img/lechia.png}">
            <img src="../../static/img/lech.png" th:src="@{/img/lech.png}"> <img src="../../static/img/kif.png" th:src="@{/img/kif.png}"></div>
        
        
        <div id="contact"><p> Contact:<br>ul. Bydgoska 5a St., 81-305 Gdynia<br>
Tower's building, 1 floor<br> +48 791 50 53 22</p><img src="../../static/img/logo.png" th:src="@{/img/logo.png}"></div>
        
        
        <div id="rights"><p>©2021 Orto-MED</p><p>Design: Mikołaj Kalata</p></div>
    </footer>
    </div>
</body>
</html>
